<html>
    <head>
        <!--SEO_TITLE--><title>old title for error page</title><!--/SEO_TITLE-->
        <meta name="description" content="description for error page" />
    </head>
    <body>
        <h1>Hello error</h1>
    </body>
</html>
