<html>
    <head>
        <!--SEO_TITLE--><title>old title for admin</title><!--/SEO_TITLE-->
        <meta name="description" content="description for admin" />
    </head>
    <body>
        <h1>Hello admin</h1>
    </body>
</html>
