<html>
    <head>
        <!--SEO_TITLE--><title>old title for another page</title><!--/SEO_TITLE-->
        <meta name="description" content="description for another page" />
    </head>
    <body>
        <h1>Hello world</h1>
    </body>
</html>
