<html>
    <head>
        <!--SEO_TITLE--><title>old title for homepage</title><!--/SEO_TITLE-->
        <meta name="description" content="description for homepage" />
    </head>
    <body>
        <h1>Hello world</h1>
    </body>
</html>
